/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * PERBAIKAN: Kita menggunakan 'dark.class.css' agar tema
  * mengikuti class '.dark' pada body, bukan pengaturan sistem.
  * Ini akan membuat tombol toggle kita berfungsi dengan benar.
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css"; // <-- AKTIFKAN YANG INI
/* @import '@ionic/angular/css/palettes/dark.system.css'; */ // <-- DAN MATIKAN YANG INI

/* Anda bisa meletakkan ini di global.scss */

ion-button.btn-outline-blue {
  /* Properti untuk warna teks dan ikon di dalam tombol */
  --color: #3b82f6; /* Ini adalah warna untuk Tailwind class blue-500 */

  /* Properti untuk warna border/garis outline */
  --border-color: #3b82f6;
  
  /* Properti untuk warna "ripple effect" saat tombol diklik */
  --ripple-color: #3b82f6;
}